<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Error/500.php">
            <error statusCode="404" redirect="~/Error/404.php" />
            <error statusCode="500" redirect="~/Error/500.php" />
        </customErrors>
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="404" />
            <error statusCode="404" path="/Error/404.php" responseMode="ExecuteURL" prefixLanguageFilePath="" />
            <remove statusCode="500" />
            <error statusCode="500" path="/Error/500.php" responseMode="ExecuteURL" prefixLanguageFilePath="" />
            <error statusCode="401" prefixLanguageFilePath="" path="/Error/401.php" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/Error/403.php" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/Error/501.php" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/Error/502.php" responseMode="ExecuteURL" />
            <error statusCode="412" prefixLanguageFilePath="" path="/Error/412.php" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/Error/406.php" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/Error/405.php" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^([^.]+)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>